body{
	margin: 0;
	padding: 0;
}
.wrapper{
	border: 1px solid #000;
	height: auto;
	width: 90%;
	margin: 0 auto;
}
.header{
	border: 1px solid #ff80ff;
	height: 130px;
	width: 100%;

}
.menu{
	border: 1px solid #1aff8c;
	height: 50px;
	background: #00e6ac;
	display: flex;
	margin-left: 6px;
}

#main{
	width: 100%;
	display: flex;
	min-height: 881.6px;
}
.footer{
	border: 1px solid #ff1a8c;
	height: 180px;
	width: 100%;
	background: #00cc99;
}
.sidebar{
	border: 1px solid #000066;
	height: auto;
	width: 20%;
	margin:20px 10px auto 5px;
	border-radius: 15px;

}
.main-content{
	min-height: 360px;
	width: 100%;
	margin-top:5px;
	margin-left: 5px;
}
.clear{
	clear: both;
}

ul.list-menu{
	list-style: none;
	font-weight: bold;
	padding-inline-start: 40px;
}
ul.list-menu li{
	float:left;
	padding: 0 4px;
	margin: 0 4px;
}
ul.list-menu li a{
	text-decoration: none;
	color: #fff;
	line-height: 20px;
	font-size: large;
	}
ul.list-menu li:hover a{
	color: #000;
}
ul.list-sidebar{
	padding-inline-start: 0px;
	font-size: large;
	margin-block-start: 0px;
}
.sidebar h3{
	color: darkblue;
	margin: 5px 0;
	padding-top: 10px ;
	margin-inline-start: 3px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}
ul.list-sidebar li{
	list-style: none;
	margin: 5px 0;
	padding: 5px 0;
}
ul.list-sidebar li:hover{
	background: #ccf2ff;
}
ul.list-sidebar li a{
	color: darkblue;
	margin-left: 12px;
	font-size: large;
	text-decoration: none;
}
ul.list-sidebar li:hover a{
	font-weight: bold;
}	
ul.product-list{
	list-style: none;
	margin-block-start: 7px;
	padding-inline-start: 0px;
	padding-inline-end: 7px;
	height: auto;
}
ul.product-list li{
	width:22%;
	padding: 2px;
	margin: 5px;
	float: left;
	height: 320px;
}
ul.product-list li a{
	text-decoration: none;
}
ul.product-list li a img{
	width: 100%;

}
ul.product-list li a p{
	padding: 2px;
	margin: 3px 0;
	margin-block-start: 0;
	margin-block-end:0;
}
ul.product-list li a p.product-name{
	color: black;
	font-weight: bold;
	text-align: center;
}
ul.product-list li a p.product-price{
	color: red;
	font-weight: bold;
	text-align: center;
}
.footer{
	text-align: center;
	color: white;
}
